@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  h1, h2, h3, h4, h5
  {
    @apply font-title
  }
    h1 {
    @apply text-h1-mobile font-bold 
      }
    h2 {
       @apply text-h2-mobile font-bold 
      }
      }

    h3 {
      @apply text-h3-mobile font-semibold
    }
    

    h4 {
      @apply text-h4-mobile font-semibold
    }

    h5 { 
      @apply text-h5-mobile font-semibold

    }
    p {
      @apply text-body-md font-body
      }


@screen md {
  h1 {
    @apply text-h1-tablet;
  }
  h2 {
    @apply text-h2-tablet;
  }
  h3 {
    @apply text-h3-tablet;
  }
  h4 {
    @apply text-h4-tablet;
  }
  h5 {
    @apply text-h5-tablet;
  }
  p {
    @apply text-body-sm-tablet;
  }
}

@screen lg {
  h1 {
    @apply text-h1-desktop
      }
    h2 {
       @apply text-h2-desktop
      }

    h3 {
      @apply text-h3-desktop
    }

    h4 {
      @apply text-h4-desktop
    }

    h5 { 
      @apply text-h5-desktop

    }
    p {
      @apply text-body-sm-desktop;
      }
}