---
import Productlist from "../components/Productlist.astro";
import Hero from "../components/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Anmeldersektion from "../components/Anmeldersektion.astro";
import Tidligeresektion from "../components/Tidligeresektion.astro";
import Historiesektion from "../components/Historiesektion.astro";
import Nyhedsbrevsektion from "../components/Nyhedsbrevsektion.astro";
import Olgavesektion from "../components/Olgavesektion.astro";
import Levering from "../components/Levering.astro";
---

<MainLayout title="Maltclub">
  <Hero />
  <Historiesektion />
  <Levering />
  <div class="bg-accent-500 text-center py-lg">
    <h2 class="text-primary-500">Vælg dit øl abonnement...</h2>
  </div>
  <Productlist />
  <Anmeldersektion />
  <Nyhedsbrevsektion />
  <Tidligeresektion />
  <Olgavesektion />
</MainLayout>
