---
import MainLayout from "../layouts/MainLayout.astro";
import Listeviewanimation from "../components/Listeviewanimation.astro";
import Productlist from "../layouts/Productlist.astro";
import Hero from "../layouts/Hero.astro";
--- 

<MainLayout title="Titel">
   
    <Hero />   
    <div class="text-center bg-accent-500 text-primary-500 py-lg">
        <h2>Vælg dit øl abonnement</h2>
    </div>
<Productlist/>

</MainLayout>

