---
import SingleviewTilmeldning from "../components/SingleviewTilmeldning.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<div>
    <MainLayout>
    <SingleviewTilmeldning></SingleviewTilmeldning>
    </Mainlayout>
</div>