---
import MainLayout from "../layouts/MainLayout.astro";
import Productlist from "../layouts/Productlist.astro";
import Tidligeresektion from "../layouts/Tidligeresektion.astro";

---

<MainLayout>
       <div class="relative w-full overflow-hidden bg-neutral-500">
        <svg id="svg-mask" class="absolute top-0 left-0 w-full h-full">
            <defs>
                <clipPath id="clip">
                    <circle cx="20%" cy="20%" r="0" class="circle-mask" />
                </clipPath>
            </defs>
        </svg>
        <div class="relative top-0 left-0 bg-gradient-to-r from-[#16312B] to-[#0C1C19] transition-all duration-300 ease-out " style="clip-path: url(#clip)">
  
 

    <!-- Page content -->
       
               <div class="flex flex-col items-center text-accent-500 text-center px-lg py-lg">
                <h2 class="font-body">VÆLG DIT <span class="text-accent-700">ØL ABONNEMENT</span></h2>
                <p class="text-body-md md:text-body-md-tablet lg:text-body-md-desktop max-w-[450px] pt-md">Hver måned sammensætter vi en ny spændende kasse med kvalitetsøl. Vælg en kasse, der passer til dit behov</p>
            </div>
            <div>
                <img src="../img/skyline.webp" alt="Ølkasse" class="w-full max-h-[450px] object-cover">
            </div>
        </div>
        <Productlist />
        </div>
       <Tidligeresektion />

</MainLayout>



   