---
import MainLayout from "../layouts/MainLayout.astro";
import Productlist from "../layouts/Productlist.astro";

---
<MainLayout>
  

    <!-- Page content -->
       
               <div class="flex flex-col items-center text-accent-500 text-center px-lg py-lg">
                <h2 class="font-body">VÆLG DIT <span class="text-accent-700">ØL ABONNEMENT</span></h2>
                <p class="text-body-md md:text-body-md-tablet lg:text-body-md-desktop max-w-[450px] pt-md">Hver måned sammensætter vi en ny spændende kasse med kvalitetsøl. Vælg en kasse, der passer til dit behov</p>
            </div>
            <div>
                <img src="../img/skyline.webp" alt="Ølkasse" class="w-full max-h-[450px] object-cover">
            </div>
        </div>
        <Productlist />

</MainLayout>



   