---
const { img, name, description, beer } = Astro.props;
---

<section class="card @container">
  <div class="bg-accent-500 mx-auto w-[250px] h-[350px] md:w-[350px] md:h-[370px]">
    <div class="flex flex-col items-center mx-auto p-sm">
      <!-- IMG centered -->
      <img src={img} alt="Ølentusiast" class="h-20 w-120 rounded-sm mx-auto mt-sm" />

      <!-- H3 centered -->
      <h5 class="mt-sm md:text-body-md-tablet">{name}</h5>

      <!-- Content container that adjusts based on description size -->
      <div class="flex justify-center items-center w-full">
        <div class="flex-grow">
          <p class="text-primary-500 text-body-md text-left mt-xxs">{description}</p>
        </div>
      </div>

      <div class="flex items-start w-full pt-xs">
        <img src={beer} alt="beer-icon" class="h-18" />
      </div>
    </div>
  </div>
</section>
