---
---
<div class="flex flex-col">
 

   <!-- Bottom section -->
   <div class="bg-primary-600 text-accent-500 pt-sm px-sm md:px-md lg:px-xl md:pt-md lg:pt-lg">
    <div class="flex flex-col md:flex-row justify-between lg:pb-md items-start w-full max-w-full">

        <!-- Kontakt Section -->
        <div class="flex flex-col items-start pb-md md:pb-none lg:pb-none">
            <h6 class="font-bold text-base font-title pb-xs">KONTAKT</h6>
            
            <div class="flex pb-sm">
              <img src="../svg/hjem.svg" class=" pr-xxs">
              <h6 class="font-regular font-title">Engersleve 82, 2981 Almind</h6>
            </div>
            
            <div class="flex pb-sm">
              <img src="../svg/telefon.svg" class=" pr-xxs">
              <h6 class="font-regular font-title">+45 8173 6202</h6>
            </div>
            
            <div class="flex pb-sm">
              <img src="../svg/mail.svg" class=" pr-xxs">
              <h6 class="font-regular font-title">Info@maltclub.dk</h6>
            </div>
        </div>

        <!-- Navigation Section -->
        <div class="flex flex-col items-start pb-md md:pb-none lg:pb-none">
            <h6 class="font-regular font-title pb-sm">Ølpakker</h6>
            <h6 class="font-regular font-title pb-sm">Ølgaver</h6>
            <h6 class="font-regular font-title pb-sm">Om os</h6>
            <h6 class="ffont-regular font-title pb-sm">FAQ</h6>

        </div>

        <!-- Samarbejdspartnere Section -->
        <div class="flex flex-col items-start pb-lg md:pb-none lg:pb-none ">
            <h6 class="font-bold text-base font-title pb-xxs">SOCIALE MEDIER</h6>
            <div class=flex>
                <img src="../svg/facebook.svg" class="pr-xs">
                <img src="../svg/instagram.svg">
            </div>
        </div>

        <div class="pb-md md:pb-none lg:pb-none">
            <h6 class="font-semibold font-title pb-xxs">BETALINGSMULIGHEDER</h6>
            <div class="flex items-center justify-between pb-[10px]">
              <img src="../svg/mastercard.svg" class="self-start">
              <img src="../svg/visa.svg" class="self-center">
              <img src="../svg/google.svg" class="self-end">
            </div>
            <div class="flex items-center justify-between">
              <img src="../svg/apple.svg" class="self-start">
              <img src="../svg/mobile.svg" class=" self-center">
              <img src="../svg/union.svg" class="self-end">
            </div>
          </div>
        </div>
    

    <!-- Divider -->
    <div class="border-t border-white mt-8"></div>

    <!-- Bottom Text Section -->
    <div class="font-title pt-sm md:pt-md lg:pt-lg pb-sm md:pb-md lg:pb-lg  flex flex-col md:flex-row justify-between  md:text-left">

            <a href="#" class="hover:underline">Handelsbetingelser</a>
            <a href="#" class="hover:underline">Cookie og privatlivspolitik</a>
            <a href="#" class="hover:underline">Persondatapolitik</a>
            <a href="#" class="hover:underline">Servicevilkår</a>
        <p class="font-body">&copy; 2024, Maltclub</p>
    </div>
</div>
      