---

---

<div class="flex flex-col w-full">
  <!-- Bottom Section -->
  <div class="bg-primary-600 text-accent-500 pt-sm px-md md:px-xl lg:px-2xl md:pt-md lg:pt-lg">
    <div class="flex flex-col md:flex-row md:justify-between lg:pb- items-center md:items-start w-full max-w-full">
      <!-- Kontakt Section -->
      <div class="flex flex-col items-center md:items-start pb-md md:pb-none lg:pb-none">
        <h6 class="font-bold text-base font-title pb-xs">KONTAKT</h6>

        <div class="flex items-center pb-xs">
          <img src="../svg/hjem.svg" alt="adresse icon" class="pr-xxs h-6 w-6" />
          <h6 class="font-regular font-title">Engersleve 82, 2981 Almind</h6>
        </div>

        <div class="flex items-center pb-sm">
          <img src="../svg/telefon.svg" alt="telefon icon" class="pr-xxs h-6 w-6" />
          <h6 class="font-regular font-title">+45 8173 6202</h6>
        </div>

        <div class="flex items-center pb-sm">
          <img src="../svg/mail.svg" alt="mail icon" class="pr-xxs h-6 w-6" />
          <h6 class="font-regular font-title">Info@maltclub.dk</h6>
        </div>
      </div>

      <!-- Navigation Section -->
      <div class="flex flex-col items-center md:items-start pb-md md:pb-none lg:pb-none">
        <a href="/Ølpakker" class="font-regular font-title pb-xs">Ølpakker</a>
        <a href="/singleview" class="font-regular font-title pb-xs">Ølgaver</a>
        <a href="/OmOs" class="font-regular font-title pb-xs">Om os</a>
        <a href="/OmOs" class="font-regular font-title pb-xs">FAQ</a>
      </div>

      <!-- Samarbejdspartnere Section -->
      <div class="flex flex-col items-center md:items-start pb-lg md:pb-none lg:pb-none">
        <h6 class="font-bold text-base font-title pb-xxs">SOCIALE MEDIER</h6>
        <div class="flex justify-center">
          <a href="https://www.facebook.com/MaltClub.dk"><img src="../svg/facebook.svg" class="pr-xs" alt="facebook icon" /></a>
          <a href="https://www.instagram.com/maltclub.dk/"><img src="../svg/instagram.svg" alt="instagram icon" /></a>
        </div>
      </div>

      <!-- Betalingsmuligheder Section -->
      <div class="pb-md md:pb-none lg:pb-none">
        <h6 class="font-semibold font-title pb-xxs">BETALINGSMULIGHEDER</h6>
        <div class="flex items-center justify-between pb-[10px]">
          <img src="../svg/mastercard.svg" alt="Mastercard" class="self-start" />
          <img src="../svg/visa.svg" alt="Visacard" class="self-center" />
          <img src="../svg/google.svg" alt="Googlepay" class="self-end" />
        </div>
        <div class="flex items-center justify-between">
          <img src="../svg/apple.svg" alt="Applepay" class="self-start" />
          <img src="../svg/mobile.svg" alt="Mobilepay" class="self-center" />
          <img src="../svg/union.svg" alt="Unionpay" class="self-end" />
        </div>
      </div>
    </div>

    <!-- Divider -->
    <div class="border-t border-white mt-8"></div>

    <!-- Bottom Text Section -->
    <div class="font-title pt-xs lg:pt-sm pb-xs lg:pb-sm flex flex-col md:flex-row md:justify-between items-center md:items-start md:text-left text-center">
      <div class="flex flex-col md:flex-row md:space-x-md">
        <a href="#" class="hover:underline pb-xs md:pb-0">Handelsbetingelser</a>
        <a href="#" class="hover:underline pb-xs md:pb-0">Cookie og privatlivspolitik</a>
        <a href="#" class="hover:underline pb-xs md:pb-0">Persondatapolitik</a>
        <a href="#" class="hover:underline pb-xs md:pb-0">Servicevilkår</a>
      </div>
      <p class="font-body">&copy; 2024, Maltclub</p>
    </div>
  </div>
</div>
