---

---

<article class="bg-accent-500">
  <div class="flex w-full justify-center items-center">
    <!-- Left Box-->
    <div class="hidden md:flex items-center justify-center object-cover w-[50%]">
      <img src="../img/oltonder.webp" alt="beer barrel" />
    </div>

    <!-- Right Box-->
    <div class="w-full px-md flex justify-center items-center mx-auto py-md">
      <!-- Center Vertically -->
      <div id="sektion2" class="opacity-0">
        <h2 class="text-primary-400 pb-xs">Øl med kvalitet og historie</h2>
        <p class="text-body-mobile pt-xxs flex items-center md:text-body-md-desktop md:max-w-2xl text-primary-400">Hos MaltClub ønsker vi at dele vores passion for øl med dig. Hver måned sammensætter vi en kasse med nøje udvalgte øl fra bryghuse, der har noget særligt at byde på.</p>
      </div>
    </div>
  </div>
</article>
