---

---

<article class="bg-accent-500">
  <div class="flex flex-col sm:grid sm:grid-cols-[1fr_3fr]">
    <!-- Left Box-->
    <div class="w-full h-auto object-cover sm:cols-start-1">
      <img src="../img/oltonder.webp" alt="beer barrel" class="hidden sm:block w-full h-auto" />
    </div>
    <!-- Right Box-->
    <div class="w-full px-md sm:cols-start-2 flex justify-center items-center mx-auto py-md">
      <!-- Center Vertically -->
      <div id="sektion2" class="opacity-0">
        <h3 class="text-primary-400">Øl med kvalitet og historie</h3>
        <p class="max-w-xl text-body-mobile pt-xxs md:text-body-md-desktop md:max-w-2xl text-primary-400">Hos MaltClub ønsker vi at dele vores passion for øl med dig. Hver måned sammensætter vi en kasse med nøje udvalgte øl fra bryghuse, der har noget særligt at byde på.</p>
      </div>
    </div>
  </div>
</article>
