---

---
<article id="sektion3" class="bg-primary-500 text-accent-500 p-ml md:p-xl">
    <h2 class="text-h1-mobile md:text-2-tablet lg:text-h2-desktop text-accent-500 text-center md:p-lg"> 
      Sådan virker dit Maltclub abonnement
    </h2>
         


    <!-- Container til grid -->
    <div class="container relative mx-auto px-4 md:p-xl">
        
      <section class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Første billede -->
      <img
      id="buetLinie1"
      src="svg/buet_linie.svg"
      alt="vektorgrafik af en ølkasse"
      class="w-[6rem] h-[6rem] absolute top-[30%] left-[62%] hidden md:block md:rotate"
      />

      <!-- buetLinie2 -->
      <img
      id="buetLinie2"
      src="svg/buet_linie.svg"
      alt="vektorgrafik af en ølkasse"
      class="w-[6rem] h-[6rem] absolute top-[30%] left-[30%] hidden md:block"
      />
        <!-- Første kolonne -->
        <div class="relative flex flex-col items-center text-venstre p-lg md:p-md md:pt-[6rem]">
          <img
            src="svg/beerbox.svg"
            alt="vektorgrafik af en ølkasse"
            class="w-[10rem] h-[6rem] mb-4"
          />
          <p>
            Vælg hvilket øl abonnement. Du kan vælge mellem MaltClub, MaltClub
            'uden IPA' og MaltClub XL.
          </p>
        </div>
  
        <!-- Anden kolonne -->
        <div class="relative flex flex-col items-center text-venstre p-lg md:p-md ">
          <img
            src="svg/ladcykel.svg"
            alt="vektorgrafik af en ladcykel"
            class="w-32 h-32 mb-4"
          />
          <p>
            Månedens øl – leveret direkte til dig! <br />
            Vi leverer dine øl fra MaltClub i starten af hver måned. Øllene
            leveres direkte hjem til dig eller til nærmeste pakkeshop.
          </p>
        </div>
  
        <!-- Tredje kolonne -->
        <div class="relative flex flex-col items-center text-venstre p-lg md:pt-xl md:p-md ">
          <img
            src="svg/handbottle.svg"
            alt="vektorgrafik af hænder der holder øl"
            class="w-32 h-32 mb-4"
          />
          <p>
            Altid gode øl med MaltClub abonnement. Nyd og byd på kvalitet til
            enhver lejlighed!
          </p>
        </div>
      </section>
    </div>
  </article>
  