---

---
<article id="sektion3" class="bg-primary-500 text-accent-500 py-lg flex justify-center">
  <div class="max-w-7xl">
    <h2 class="text-accent-500 text-center pb-2xl"> 
      Sådan virker dit Maltclub abonnement
    </h2>
      <div class="min-h-[500px] flex flex-col lg:flex-row justify-between items-start">
        <!-- Første kolonne -->
        <div class="flex flex-col max-w-[350px]">
          <img src="svg/beerbox.svg" alt="vektorgrafik af en ølkasse" class="w-32 h-32"/>
          <h4>1. Bestil</h4>
          <p> Vælg hvilket øl abonnement. Du kan vælge mellem MaltClub, MaltClub 'uden IPA' og MaltClub XL.</p>
        </div>
  
        <!-- Anden kolonne -->
        <div class="flex flex-col max-w-[350px]">
          <img src="svg/ladcykel.svg" alt="vektorgrafik af en ladcykel" class="w-32 h-32"/>
          <h4>2. Levér</h4>
          <p>
            Månedens øl – leveret direkte til dig! <br />
            Vi leverer dine øl fra MaltClub i starten af hver måned. Øllene
            leveres direkte hjem til dig eller til nærmeste pakkeshop.
          </p>
        </div>
  
        <!-- Tredje kolonne -->
        <div class="flex flex-col max-w-[350px]">
          <img src="svg/handbottle.svg" alt="vektorgrafik af hænder der holder øl" class="w-32 h-32"/>
          <h4>3. Enjoy</h4>
          <p>
            Altid gode øl med MaltClub abonnement. Nyd og byd på kvalitet til
            enhver lejlighed!
          </p>
        </div>
      </div>
    </div>
  </article>
  
   <!--   buetLinier

  <img id="buetLinie1" src="svg/buet_linie.svg" alt="vektorgrafik af en ølkasse" class="w-[6rem] h-[6rem] absolute top-[30%] left-[62%] hidden md:block"/>


  <img id="buetLinie2" src="svg/buet_linie.svg" alt="vektorgrafik af en ølkasse" class="w-[6rem] h-[6rem] absolute top-[30%] left-[30%] hidden md:block"
  />
   -->