---

---

<article class="bg-primary-500 text-accent-500 flex justify-center">
  <div id="sektion3" class="content max-w-7xl pt-xl pb-xl lg:pb-2xl">
    <h3 class="text-accent-500 pb-xl px-sm flex place-content-center text-center w-full lg:pb-2xl">Sådan virker dit Maltclub abonnement</h3>
    <div class="flex flex-col sm:px-sm sm:flex-row items-center sm:items-start justify-between gap-8">
      <!-- Første kolonne -->
      <div class="flex flex-col max-w-[250px] items-center">
        <img src="svg/beerbox.svg" alt="vektorgrafik af en ølkasse" class="w-32 h-32 pb-sm" />
        <h4>1. Bestil</h4>
        <p class="text-center">Bestil det øl abonnement, der passer til dig</p>
      </div>
      <div class="flex items-center self-center">
        <img id="buetLinie1" src="svg/buet_linie.svg" alt="first trin" class="hidden md:block" />
      </div>

      <!-- Anden kolonne -->
      <div class="flex flex-col max-w-[250px] items-center">
        <img src="svg/ladcykel.svg" alt="vektorgrafik af en ladcykel" class="w-32 h-32" />
        <h4>2. Levér</h4>
        <p class="text-center">Vi leverer dine øl i starten af hver måned.</p>
      </div>
      <div class="flex items-center self-center">
        <img id="buetLinie2" src="svg/buet_linie.svg" alt="second trin" class="hidden md:block" />
      </div>

      <!-- Tredje kolonne -->
      <div class="flex flex-col max-w-[250px] items-center justify-end">
        <img src="svg/handbottle.svg" alt="vektorgrafik af hænder der holder øl" class="w-32 h-32" />
        <h4>3. Enjoy</h4>
        <p class="text-center">Nyd og byd på kvalitet til enhver lejlighed!</p>
      </div>
    </div>
  </div>
</article>
