---
import Secondarybutton from "./Secondarybutton.astro"
---
<article class="bg-primary-500 text-accent-500 py-xl flex justify-center">
  <div id="sektion3" class="content max-w-7xl">
    <h2 class="text-accent-500 text-center pb-xl"> 
      Sådan virker dit Maltclub abonnement
    </h2>
    <div class="flex flex-col md:flex-row items-center md:items-start justify-between gap-8">
      <!-- Første kolonne -->
      <div class="flex flex-col max-w-[250px] items-center">
        <img src="svg/beerbox.svg" alt="vektorgrafik af en ølkasse" class="w-32 h-32" />
        <h4>1. Bestil</h4>
        <p class="text-center">
          Bestil det øl abonnement, der passer til dig
        </p>
      </div>
    
      <!-- Anden kolonne -->
      <div class="flex flex-col max-w-[250px] items-center">
        <img src="svg/ladcykel.svg" alt="vektorgrafik af en ladcykel" class="w-32 h-32" />
        <h4>2. Levér</h4>
        <p class="text-center">
          Vi leverer dine øl  i starten af hver måned.
        </p>
      
      </div>
    
      <!-- Tredje kolonne -->
      <div class="flex flex-col max-w-[250px] items-center justify-end">
        <img src="svg/handbottle.svg" alt="vektorgrafik af hænder der holder øl" class="w-32 h-32" />
        <h4>3. Enjoy</h4>
        <p class="text-center">
       Nyd og byd på kvalitet til enhver lejlighed!
        </p>
      </div>
      
    </div>
    
    </div>
  </article>
  
   <!--   buetLinier

  <img id="buetLinie1" src="svg/buet_linie.svg" alt="vektorgrafik af en ølkasse" class="w-[6rem] h-[6rem] absolute top-[30%] left-[62%] hidden md:block"/>


  <img id="buetLinie2" src="svg/buet_linie.svg" alt="vektorgrafik af en ølkasse" class="w-[6rem] h-[6rem] absolute top-[30%] left-[30%] hidden md:block"
  />
   -->