---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self", variant = "textlink", size = "standard" } = Astro.props;

const linkStyling = "inline-block font-knap rounded-lg transition-colors";

const variantClasses = {
  primary: "text-neutral-100 bg-primary-500 hover:bg-primary-700",
  secondary: "text-primary-500 bg-neutral-500 hover:bg-neutral-700",
  textlink: "text-blue-600 underline hover:text-blue-800", // tekstlink variant
};

const sizeClasses = {
  standard: "py-xs text-body-sm md:text-body-sm-tablet lg:text-body-sm-desktop",
  large: "py-sm text-body-lg md:text-body-lg-tablet lg:text-body-lg-desktop",
  medium: "py-sm text-body-md md:text-body-md-tablet lg:text-body-md-desktop",
  small: "py-xs text-body-sm md:text-body-sm-tablet lg:text-body-sm-desktop",
};
---

<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>
