---

---

<article class="bg-accent-500">
  <div id="sektion5" class="flex flex-col sm:flex-row opacity-0">
    <!-- Left Box: 68% (Text and Buttons) -->
    <div class="w-full sm:w-6/12 flex justify-center">
      <div class="max-w-[90%] py-sm md:py-md lg:py-lg">
        <h3 class="text-primary-500 mb-2">Spar 20% på første måned</h3>
        <h5 class="text-primary-500 mb-4">Tilmeld dig vores nyhedsbrev</h5>

        <div class="flex flex-col gap-4">
          <label for="nyhedsbrev" class="w-full">
            <input id="nyhedsbrev" type="email" placeholder="Skriv din e-mail her og få eksklusive opdateringer!" class="w-full rounded-sm bg-white p-3 border border-primary-500 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent placeholder:text-primary-500/70" />
          </label>

          <div class="w-full">
            <button class="w-full py-3 font-knap font-semibold rounded-sm bg-primary-400 text-white border focus:outline-none focus:ring-2 focus:ring-primary-500 hover:bg-primary-500"> Tilmeld dig nu</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Box: 32% (Image) -->
    <div class="w-full sm:w-6/12">
      <img src="img/brednyhed.webp" alt="Øl" class="hidden sm:block w-full h-full" />
    </div>
  </div>
</article>
