---
const { title, icon, text} = Astro.props
---

<div class=" flex items-center max-w-[250px] gap-4 text-accent-500">
  <!-- CText -->
  <div>
    <h5 class="flex items-center gap-2">
      <!-- Icon -->
      <img src={icon} alt="Information Icon" class="h-6 w-6">
      {title}
    </h5>
    <p class="">{text}</p>
  </div>
</div>