---

---

<div class="relative overflow-hidden flex flex-wrap mx-auto w-full h-[600px] gap-xs bg-gradient-to-r from-primary-500 to-primary-700 sm:flex-row justify-between text-accent-500 py-2xl">
  <div class="flex flex-col pl-[8rem]">
    <div class="flex flex-col gap-ml w-[650px]">
      <h2>ØL MED PERFEKTION <span>I HVER TØR!</span></h2>
      <p>Hos MaltClub brænder vi for at dele passionen for øl med historie og kvalitet. Hver måned sammensætter vi en kasse med spændende øl fra bryghuse med noget på hjerte – altid ledsaget af inspirerende fortællinger om øllet og bryghuset. Vi glæder os til at pirre dine smagsløg med næste MaltClub ølpakke!</p>
    </div>
  </div>
  <!--image til højre -->
  <div class="relative w-[700px] aspect-square overflow-hidden rounded-full bg-accent-700 -right-[50px]">
    <img src="../img/beer1.webp" alt="Image" class="absolute top-0 left-0 w-full h-full object-cover" />
  </div>
</div>
