---
import Secondarybutton from "../components/Secondarybutton.astro";
---

<div class="flex flex-col bg-neutral-500 overflow-x-hidden md:grid md:grid-cols-[1.5fr_1fr]">
  <!-- Top Box, all content -->
  <section class="bg-neutral-500 w-full px-xs md:col-span-full">
    <article class="grid grid-cols-1 mx-auto md:gap-xxs md:max-w-7xl md:grid-cols-2 py-lg md:py-xl top-box transition-all duration-500 ease-in-out items-center justify-center">
      <div class="flex flex-col items-center">
        <!-- Title -->
        <div class="flex flex-col items-center md:cols-start-1">
          <h3 class="text-neutral-900 text-h3-tablet sm:text-h3-desktop">MALTCLUB</h3>
          <div class="flex items-center">
            <div class="w-16 md:w-24 lg:w-32 h-[2px] bg-neutral-900 mr-sm"></div>
            <h3 class="text-accent-800 text-h3-tablet sm:text-h3-desktop">EXTRA</h3>
            <div class="w-16 md:w-24 lg:w-32 h-[2px] bg-neutral-900 ml-sm"></div>
          </div>
          <div class="flex justify-center px-xxs pt-sm md:hidden">
            <img src="../img/extra11.webp" alt="Description of image" class="w-full h-auto object-cover" />
          </div>
          <!-- Text -->
          <div class="py-sm md:w-[350px]">
            <p class="text-body-md-tablet px-xs md:px-sm">9-11 kvalitetsøl fra både nationale og internationale bryggerier, der slår benene væk under dig</p>
          </div>
          <!-- Button -->
          <div class="flex justify-center">
            <Secondarybutton link="/singleview" variant="extra" size="medium" width="base"> GØR ØLKÆDEREN KLAR </Secondarybutton>
          </div>
        </div>
      </div>
      <div class="hidden md:flex justify-center md:pt-sm md:col-start-2">
        <img src="../img/extra11.webp" alt="Description of image" class="w-full md:w-[550px] h-auto object-cover hover:scale-110 transition-all duration-500" />
      </div>
    </article>
  </section>

  <section class="md:cols-start-1 left-box md:cols-end-2 md:row-start-2">
    <!-- Left Box -->
    <article class="py-lg px-xs bg-neutral-400 flex flex-col">
      <!-- Title, text, button -->

      <div class="flex flex-col items-center">
        <!-- Title -->
        <div class="flex flex-col justify-center items-center">
          <h3 class="text-neutral-900 text-h3-tablet sm:text-h3-desktop">MALTCLUB</h3>
          <div class="flex items-center">
            <div class="w-16 md:w-24 lg:w-32 h-[2px] bg-neutral-900"></div>
            <h3 class="text-neutral-800 text-h3-tablet sm:text-h3-desktop mx-sm">CLASSIC</h3>
            <div class="w-16 md:w-24 lg:w-32 h-[2px] bg-neutral-900"></div>
          </div>
          <div class="flex justify-center pt-sm">
            <img src="../img/classic.webp" alt="Description of image" class="w-full md:w-[400px] h-auto object-cover hover:scale-110 transition-all duration-500" />
          </div>

          <!-- Text -->
          <div class="py-sm w-full md:text-center">
            <p class="text-body-md-tablet px-xs md:px-sm">5-6 nøje udvalgte specialøl - <br /> Håndplukket fra både ind- og udland.</p>
          </div>

          <!-- Button -->
          <div class="flex justify-center">
            <Secondarybutton link="/singleview" variant="classic" size="medium" width="base"> FÅ TIDSLØSE FAVORITTER </Secondarybutton>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="md:cols-start-2 md:cols-end-3 md:row-start-2 right-box">
    <article class="bg-neutral-600 py-lg px-xs">
      <!-- Title, text, button -->
      <div class="flex flex-col right-box md:items-center">
        <!-- Title -->
        <div class="flex flex-col items-center">
          <h3 class="text-neutral-900 text-h3-tablet sm:text-h3-desktop">MALTCLUB</h3>
          <div class="flex items-center">
            <div class="w-16 md:w-12 lg:w-16 xl:w-24 h-[2px] bg-neutral-900"></div>
            <h3 class="text-primary-400 text-h3-tablet sm:text-h3-desktop mx-sm">PILSNER</h3>
            <div class="w-16 md:w-12 lg:w-16 xl:w-24 h-[2px] bg-neutral-900"></div>
          </div>
          <div class="flex justify-center pt-sm">
            <img src="../img/pilsner.webp" alt="Description of image" class="w-full md:w-[365px] h-auto object-cover hover:scale-110 transition-all duration-500" />
          </div>
          <!-- Text -->
          <div class="py-sm md:text-center w-full md:w-[360px]">
            <p class="text-body-md-tablet px-xs md:px-sm">Din månedlige ølkasse uden IPA’er, så du får præcis de smagsoplevelser, du ønsker.</p>
          </div>
          <!-- Button -->
          <div class="flex justify-center">
            <Secondarybutton link="/singleview" variant="pilsner" size="medium" width="base"> FORKÆL DIG SELV </Secondarybutton>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
<script>
  import { inView } from "motion";
  const topbox = document.querySelector(".top-box");
  inView(topbox, ({ target }) => {
    target.classList.add("animate__animated", "animate__fadeInLeft", "animate__slow");
  });

  const leftbox = document.querySelector(".left-box");
  inView(leftbox, ({ target }) => {
    target.classList.add("animate__animated", "animate__fadeInLeft", "animate__slow");
  });

  const rightbox = document.querySelector(".right-box");
  inView(rightbox, ({ target }) => {
    target.classList.add("animate__animated", "animate__fadeInRight", "animate__slow");
  });
</script>
