---

---

<div class="flex flex-col">
  <!-- top section -->
  <div class="bg-accent-500 z-20">
    <div class="flex flex-col pt-ml py-lg px-ml lg:pt-l">
      <h2 class="text-primary-500 text-center lg:pb-xl">Om MaltClub</h2>

      <div class="sticky mangeelementerinview flex flex-col gap-12 md:flex-row md:gap-2xl justify-center items-center pt-4">
        <!-- Første Card -->
        <div class="flex flex-col md:flex-col lg:flex-row items-center gap-2">
          <!-- På desktop bliver de vist side om side -->
          <div class="mangeelementer1 flex flex-col items-center sm:items-start">
            <!-- Billed og tekst i samme child -->
            <img src="../svg/eksperten.svg" class="w-full h-auto object-cover p-2" />
          </div>
          <div class="mt-2 sm:mt-0 sm:ml-4">
            <!-- Justering af margin-top og margin-left for desktop -->
            <p class="text-center sm:text-left text-primary-500">
              <span class="font-semibold">Øleksperten <br /> - I dit hjørne</span>
            </p>
          </div>
        </div>

        <!-- Second Card -->
        <div class="flex flex-col sm:flex-col md:flex-col lg:flex-row items-center gap-2">
          <!-- Flex row for desktop -->
          <div class="mangeelementer2 flex flex-col items-center sm:items-start">
            <!-- Billed og tekst i samme child -->
            <img src="../svg/badge_hq.svg" class="w-full h-auto object-cover p-2" />
          </div>
          <div class="mt-2 sm:mt-0 sm:ml-4">
            <!-- Justering af margin-top og margin-left for desktop -->
            <p class="text-center sm:text-left text-primary-500">
              <span class="font-semibold">Håndplukket <br /> - Øl i topkvalitet</span>
            </p>
          </div>
        </div>

        <!-- 3rd. Card -->
        <div class="flex flex-col sm:flex-col md:flex-col lg:flex-row items-center gap-2">
          <!-- Flex row for desktop -->
          <div class="mangeelementer3 flex flex-col items-center sm:items-start">
            <!-- Billed og tekst i samme child -->
            <img src="../svg/beerbottle_green.svg" class="w-full h-auto object-cover p-2" />
          </div>
          <div class="mt-2 sm:mt-0 sm:ml-4">
            <!-- Justering af margin-top og margin-left for desktop -->
            <p class="text-center sm:text-left text-primary-500">
              <span class="font-semibold">Frihed til at vælge <br /> – Ingen Binding</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  import { inView, animate, scroll } from "motion";
  inView(".mangeelementerinview", () => {
    animate(".mangeelementer1", { x: [-2000, 0], y: [-50, 0] }, { duration: 1 });
    animate(".mangeelementer2", { x: [-1500, 0], y: [-100, 0] }, { duration: 3 });
    animate(".mangeelementer3", { x: [-1000, 0], y: [-150, 0] }, { duration: 3 });

    return () => {
      animate(".mangeelementer1", { x: [-2000, 0], y: [-50, 0] }, { duration: 1 });
      animate(".mangeelementer2", { x: [-1500, 0], y: [-100, 0] }, { duration: 3 });
      animate(".mangeelementer3", { x: [-1000, 0], y: [-150, 0] }, { duration: 3 });
    };
  });
</script>
