---
---
<div class="flex flex-col">
    <!-- top section -->
  <div class="bg-accent-500 ">
      <div class="flex flex-col pt-ml py-lg px-ml lg:p-2xl">
          <h3 class="text-primary-500 lg:pb-xl "> Service Garanti</h3>
    
          <div class="flex md:flex-row md:gap-2xl justify-center items-center pt-4"> <!-- Add gap for spacing -->
              <!-- Første Card -->
              <div class="flex flex-col items-center gap-sm"> <!-- Add gap between the image and text -->
                  <img src="svg/expert.svg" class="h-36 object-contain p-2">
                  <h4-desktop class=" font-title text-base text-center text-primary-500">
                      <span class="font-bold">Ekspert
                  </h4-desktop>
              </div>
              <!-- Second Card -->
              <div class="flex flex-col items-center gap-sm"> <!-- Add gap between the image and text -->
                  <img src="svg/hq_badge.svg" class="h-40 object-contain p-2">
                  <h4 class="font-title text-base text-center text-primary-500">
                      <span class="font-bold">Kvalitet
                  </h4>
              </div>
              <!-- Tredje Card -->
              <div class="flex flex-col items-center gap-sm"> <!-- Add gap between the image and text -->
                  <img src="svg/hands.svg" class="h-40 object-contain p-2">
                  <h4 class="font-title text-base text-center text-primary-500">
                      <span class="font-bold">Ingen Binding
                  </h4>
              </div>
          </div>
      </div>
  </div>
</div>
