---
import Secondarybutton from "./Secondarybutton.astro";

const { url = "#", cardimage = "", cardimagealt = "", procuktnavn = "", kortbeskrivelse = "", detajerbeskrivelse = "" } = Astro.props;
---

<article class="card @container">
  <a href={url} class="flex flex-col justify-between h-full">
    <header class="daseholdheader relative aspect-[16/9]">
      <div class="relative">
        <div class="absolute inset-0 w-full z-10"></div>
        <img src="/maltclub_xl.webp" alt="maltclub xl abonnement" class="w-full object-cover h-auto bg-neutral-400 z-10" />
      </div>
    </header>
    <section class="bg-primary-700 h-[180px]">
      <div class="flex flex-col grow text-accent-500">
        <div class="flex justify-between items-baseline px-xs pt-xs">
          <h1>MALTCLUB XL</h1>
          <img src="/shoppingcart.svg" alt="shoppingcart ikon" class="w-ml" />
        </div>
        <div class="flex px-xs pt-xxs">
          <div class="border-b-2 border-accent-500 flex w-full items-center gap-xxs">
            <img src="/beer-ikon.svg" alt="beer ikon" class="w-md py-xxs" />
            <p>Består af 9-11 kvalitetsøl</p>
          </div>
        </div>
      </div>
      <div class="grow flex px-xs pt-xxs items-baseline justify-between text-accent-500">
        <h1>DKK 465</h1>
        <Secondarybutton variant="primary" size="small" width="small">Se mere</Secondarybutton>
      </div>
    </section>
  </a>
</article>
