---
import Secondarybutton from "./Secondarybutton.astro";
---

<!-------------------------- Odreoversigt ------------------------------------>
<section class="bg-accent-500 py-[70px] px-sm">
  <section id="odreoversigt" class="section lg:max-w-7xl mx-auto flex flex-col flex-wrap items-center">
    <div class="">
      <h1 class="text-h1-mobile pb-xl md:px-xl lg:text-h4-desktop text-primary-400">Ordreoversigt</h1>
      <div class="md:grid md:grid-cols-2 md:gap-ml lg:gap-2xl">
        <div class="">
          <div class="relative pt-ml">
            <img src="../img/maltClub.webp" alt="maltclub abonnement" class="relative w-full md:w-[400px]" />
            <div class="absolute -top-[1rem] right-xxs md:-top-[0.8rem] md:right-md w-lg h-lg bg-primary-500 text-accent-500 flex items-center justify-center rounded-full text-h3-mobile font-bold">01</div>
          </div>
        </div>
        <div class="flex flex-col w-full justify-center mx-auto gap-ml pt-xl md:pt-none">
          <div class="flex flex-row justify-between items-center w-full">
            <h3 class="font-bold text-h3-mobile">MALTCLUB</h3>
            <div class="flex justify-center items-center">
              <img src="/material-symbols_delete-outline.svg" alt="delete ikon" class="w-ml opacity-60 cursor-pointer" />
            </div>
            <h3 class="font-bold text-h3-mobile flex justify-center items-center">DKK 275</h3>
          </div>

          <div class="flex flex-row justify-between items-center">
            <h3 class="font-regular text-h3-mobile">Antal</h3>
            <h3 class="font-regular flex justify-center items-center text-h3-mobile">1 kasse</h3>
          </div>

          <div class="flex flex-row justify-between items-center">
            <h3 class="font-regular text-h3-mobile">Levering</h3>
            <h3 class="font-regular flex justify-center items-center text-h3-mobile">Inkl. fragt</h3>
          </div>

          <div class="flex flex-row justify-between items-center">
            <h3 class="font-bold text-h3-mobile">I alt</h3>
            <h3 class="font-bold flex justify-center items-center text-h3-mobile">DKK 275</h3>
          </div>
          <div class="col-start-2 pt-sm" id="btn-bekraeft">
            <Secondarybutton variant="primary" size="medium" width="large" className="sm:size-small md:size-medium lg:size-large">Bekræft og forsæt</Secondarybutton>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-------------------------- Betalingkort valgmuligheder ------------------------------------>
  <section id="betalingmuligheder" class="section hidden">
    <div class="w-full max-w-7xl mx-auto flex flex-col flex-wrap mb-md items-center">
      <div class="w-full mx-auto flex flex-col justify-center items-center">
        <h1 class="text-h1-mobile lg:text-h4-desktop pb-md md:px-xl text-primary-400">Hurtig betaling</h1>
        <div class="flex flex-wrap justify-center items-center gap-xxs lg:gap-sm w-full">
          <img src="/mastercard_ikon.svg" alt="master card ikon" class="card-icon cursor-pointer w-20 h-auto md:w-30 lg:w-[150px] object-contain" />
          <img src="/visa_ikon.svg" alt="visa card ikon" class="card-icon cursor-pointer w-20 h-auto md:w-30 lg:w-[150px] object-contain" />
          <img src="/unionpay_ikon.svg" alt="unionpay card ikon" class="card-icon cursor-pointer w-20 h-auto md:w-30 lg:w-[150px] object-contain" />
        </div>

        <div class="relative w-full flex items-baseline pb-md">
          <div class="flex-1 border-t-2 border-primary-400"></div>
          <span class="text-h2-mobile lg:text-h5-desktop font-semibold text-primary-400">Ellers</span>
          <div class="flex-1 border-t-2 border-primary-400"></div>
        </div>

        <h1 class="text-h1-mobile pb-md lg:text-h4-desktop text-primary-400">Betal med kort</h1>
        <div class="flex flex-wrap justify-center items-center gap-xxs lg:gap-md w-full">
          <img src="/applepay_ikon.svg" alt="applepay  ikon" class="card-icon cursor-pointer w-20 h-auto md:w-30 lg:w-[150px] object-contain" />
          <img src="/googlepay_ikon.svg" alt="googlepay  ikon" class="card-icon cursor-pointer w-20 h-auto md:w-30 lg:w-[150px] object-contain" />
          <img src="/mobilepay_ikon.svg" alt="mobilepay  ikon" class="card-icon cursor-pointer w-20 h-auto md:w-30 lg:w-[150px] object-contain" />
        </div>
      </div>
    </div>
  </section>

  <!-------------------------- Formular-------------------------------->
  <section id="formular" class="section hidden bg-accent-500">
    <section class="w-full max-w-7xl mx-auto flex flex-col bg-accent-500 pt-none">
      <!--Progress bar-->
      <section class="">
        <div class="flex items-center justify-center bg-accent-500">
          <div class="text-center">
            <div class="relative flex justify-between items-center mb-4 max-w-full w-[300px] md:w-[600px]">
              <!-- Progress bar background -->
              <div class="bar absolute top-1/2 left-0 w-full h-[4px] bg-primary-500 bg-opacity-30 transform -translate-y-1/2 z-10"></div>

              <!-- Progress bar fill -->
              <div class="absolute top-1/2 left-0 h-[4px] bg-accent-800 transform -translate-y-1/2 z-10" id="progress" style="width: 0%;"></div>

              <!-- Circle steps -->
              <div class="flex justify-between w-full z-20 transition-all duration-400 ease-in-out">
                <div class="circle bg-accent-500 items-center flex flex-col">
                  <img src="/beer_ikon_progressbar.svg" alt="progressbar" class="inactive block w-ml h-ml" />
                  <img src="/beer_ikon_progressbar_1.svg" alt="progressbar" class="active hidden w-ml h-ml" />
                  <h5 class="text-h5-mobile font-regular">Kontakt</h5>
                </div>
                <div class="circle bg-accent-500 items-center flex flex-col">
                  <img src="/beer_ikon_progressbar.svg" alt="progressbar" class="inactive block w-ml h-ml" />
                  <img src="/beer_ikon_progressbar_2.svg" alt="progressbar" class="active hidden w-ml h-ml" />
                  <h5 class="text-h5-mobile font-regular">Adresse</h5>
                </div>
                <div class="circle bg-accent-500 items-center flex flex-col">
                  <img src="/beer_ikon_progressbar.svg" alt="progressbar" class="inactive block w-ml h-ml" />
                  <img src="/beer_ikon_progressbar_3.svg" alt="progressbar" class="active hidden w-ml h-ml" />
                  <h5 class="text-h5-mobile font-regular">Levering</h5>
                </div>
                <div class="circle bg-accent-500 items-center flex flex-col">
                  <img src="/beer_ikon_progressbar.svg" alt="progressbar" class="inactive block w-ml h-ml" />
                  <img src="/beer_ikon_progressbar_4.svg" alt="progressbar" class="active hidden w-ml h-ml" />
                  <h5 class="text-h5-mobile font-regular">Betaling</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 1. step-- -->
        <form class="flex flex-col max-w-7xl lg:py-md lg:mr-md lg:ml-md">
          <article class="step">
            <h1 class="text-h1-mobile py-xs lg:text-h4-desktop text-primary-400">Kontaktoplysninger</h1>
            <div class="flex flex-col lg:pt-sm">
              <label for="maltclub" class="text-primary-400"><h5 class="md:text-h5-mobile">E-mail <span class="text-accent-800">*</span></h5></label>
              <div class="pt-xxs">
                <input type="text" id="email" name="email" placeholder="maltclub@gmail.com" class="w-full px-xs py-xxs border-[0px] text-primary-500 bg-neutral-200" />
              </div>
              <div class="flex items-baseline gap-xxs pt-xxs">
                <input type="checkbox" id="checkbox" name="checkbox" value="checkbox" class="bg-neutral-200 border-0 rounded-[2px]" />
                <label for="checkbox" class="text-primary-400"> Send mails til mig om nyheder og tilbud</label>
              </div>
              <label for="maltclub" class="pt-sm text-primary-400"><h5 class="md:text-h5-mobile">Telefonnummer <span class="text-accent-800">*</span></h5></label>
              <div class="pt-xxs">
                <input type="text" id="telefon" name="telefon" placeholder="+45 11 22 33" class="w-full px-xs py-xxs border-[0px] text-primary-500 bg-neutral-200" />
              </div>
            </div>
          </article>

          <!-- 2. step-- -->
          <article class="step">
            <h1 class="flex w-full pt-sm pb-ml text-h1-mobile lg:text-h4-desktop text-primary-400">Adresse</h1>
            <div class="flex flex-col">
              <div class="flex flex-col md:grid md:grid-cols-2 md:gap-md">
                <div>
                  <label for="fornavn" class="pb-xxs text-primary-400"><h5 class="md:text-h5-mobile">Fornavn <span class="text-accent-800">*</span></h5></label>
                  <div class="pt-xxs">
                    <input type="text" id="fornavn" name="fornavn" placeholder="Lars" class="w-full px-xs py-xxs border-[0px] text-primary-500 bg-neutral-200" />
                  </div>
                </div>
                <div class="py-xxs md:py-none">
                  <label for="efternavn" class="text-primary-400"><h5 class="md:text-h5-mobile">Efternavn <span class="text-accent-800">*</span></h5></label>
                  <div class="pt-xxs">
                    <input type="text" id="efternavn" name="efternavn" placeholder="Jensen" class="w-full px-xs py-xxs border-[0px] text-primary-500 bg-neutral-200" />
                  </div>
                </div>
              </div>
              <label for="firma" class="text-primary-400"><h5 class="md:text-h5-mobile md:pt-xxs">Firma (valgfri)</h5></label>
              <div class="pt-xxs">
                <input type="text" id="fornavn" name="fornavn" placeholder="Jensen" class="w-full px-xs py-xxs border-[0px] text-primary-500 bg-neutral-200" />
              </div>
              <label for="adresse" class="py-xxs md:py-xxs text-primary-400"><h5 class="md:text-h5-mobile">Adresses<span class="text-accent-800">*</span></h5></label>
              <div class="">
                <input type="text" id="adresse" name="adresse" placeholder="Engersleve 82" class="w-full px-xs py-xxs border-[0px] text-primary-500 bg-neutral-200" />
              </div>
              <div class="flex flex-col md:grid md:grid-cols-2 md:gap-md">
                <div class="pt-xxs">
                  <label for="postnummer" class="pb-xxs pt-md text-primary-400"><h5 class="md:text-h5-mobile">Postnummer<span class="text-accent-800">*</span></h5></label>
                  <div class="py-xxs">
                    <input type="text" id="postnummer" name="postnummer" placeholder="2981" class="w-full px-xs py-xxs border-[0px] text-primary-500 bg-neutral-200" />
                  </div>
                </div>
                <div class="pb-xxs md:pt-xxs">
                  <label for="by" class="pb-xxs pt-md text-primary-400"><h5 class="md:text-h5-mobile">By<span class="text-accent-800">*</span></h5></label>
                  <div class="pt-xxs">
                    <input type="text" id="by" name="by" placeholder="Almind" class="w-full px-xs py-xxs border-[0px] text-primary-500 bg-neutral-200" />
                  </div>
                </div>
              </div>
              <label for="land" class="pb-xxs text-primary-400"><h5 class="md:text-h5-mobile">Land / områder<span class="text-accent-800">*</span></h5></label>
              <select id="event" class="w-full p-2 border bg-neutral-200 border-neutral-200 text-primary-500/60" required onchange="this.className = this.value ? 'w-full border bg-neutral-200 border-neutral-200 text-primaty-500' : 'w-full border border-neutral-200 '" name="Land" aria-placeholder="Land / områder">
                <option value="Vælg en mulighed her*">Vælg en mulighed her*</option>
                <option value="Danmark">Danmark</option>
                <option value="Sverige">Sverige</option>
                <option value="Norge">Norge</option>
              </select>
            </div>
          </article>

          <!-- 3. step-- -->
          <article class="step items-center flex flex-col">
            <h3 class="flex w-full items-center flex-col pt-sm pb-ml text-h1-mobile lg:text-h4-desktop text-primary-400">Leveringsmetode</h3>

            <!--desktop -->
            <div class="hidden md:flex md:gap-xxs md:items-center md:flex-row md:justify-evenly mb-md md:w-[80%]">
              <label class="w-full gap-sm py-sm px-sm sm:flex md:flex-row bg-neutral-200 has-[:checked]:bg-neutral-300 has-[:checked]:text-primary-400 has-[:checked]:ring-indigo-200">
                <div class="pt-xxs"><input type="radio" id="radio" class="checked:border-indigo-500 px-sm transform scale-150 toggle-radio" /></div>

                <div class="flex flex-col gap-xxs w-full">
                  <h3 class="text-h3-mobile">Levering</h3>
                  <div class="flex gap-xs items-center flex-wrap">
                    <p class="text-primaty-500 opacity-60 font-semibold text-body-md">PostNord</p>
                    <div class="border-r-2 border-primary-500 border-opacity-60 h-xs"></div>
                    <p class="text-primaty-500 opacity-60 font-semibold text-body-md">Pakkeshop</p>
                  </div>
                </div>

                <div class="flex flex-col gap-xxs w-full items-end">
                  <h3 class="text-h3-mobile">62,50 DKK</h3>
                  <p class="text-primary-500 opacity-60 text-body-md font-semibold">Inkl. moms</p>
                </div>
              </label>
            </div>

            <div class="hidden md:flex md:gap-xxs md:items-center md:flex-row md:justify-evenly mb-md md:w-[80%]">
              <label class="w-full gap-sm py-sm px-sm sm:flex sm:flex-row bg-neutral-200 has-[:checked]:bg-neutral-300 has-[:checked]:text-primary-400 has-[:checked]:ring-indigo-200">
                <div class="pt-xxs"><input type="radio" id="radio" class="checked:border-indigo-500 px-sm transform scale-150 toggle-radio" /></div>
                <div class="flex flex-col gap-xxs w-full">
                  <h3 class="text-h3-mobile">Levering</h3>
                  <div class="flex gap-xs items-center flex-wrap">
                    <p class="text-primaty-500 opacity-60 font-semibold text-body-md">PostNord</p>
                    <div class="border-r-2 border-primary-500 border-opacity-60 h-xs"></div>
                    <p class="text-primaty-500 opacity-60 font-semibold text-body-md">Levering til døren</p>
                  </div>
                </div>

                <div class="flex flex-col gap-xxs w-full items-end">
                  <h3 class="text-h3-mobile">112,50 DKK</h3>
                  <p class="text-primary-500 opacity-60 text-body-md font-semibold">Inkl. moms</p>
                </div>
              </label>
            </div>

            <div class="hidden md:flex md:gap-xxs md:items-center md:flex-row md:justify-evenly mb-md md:w-[80%]">
              <label class="w-full gap-sm py-sm px-sm sm:flex sm:flex-row bg-neutral-200 has-[:checked]:bg-neutral-300 has-[:checked]:text-primary-400 has-[:checked]:ring-indigo-200">
                <div class="pt-xxs"><input type="radio" id="radio" class="checked:border-indigo-500 px-sm transform scale-150 toggle-radio" /></div>
                <div class="flex flex-col gap-xxs w-full">
                  <h3 class="text-h3-mobile">Afhentning på lager. 2981 Almind</h3>
                  <div class="flex gap-xs items-center flex-wrap">
                    <p class="text-primaty-500 opacity-60 font-semibold text-body-md">Du vil blive kontaktet når din ordre er klar</p>
                  </div>
                </div>

                <div class="flex flex-col gap-xxs w-full items-end">
                  <h3 class="text-h3-mobile">0,00 DKK</h3>
                </div>
              </label>
            </div>

            <!--mobile -->
            <div class="flex gap-xxxs items-center flex-col w-full pb-xs md:hidden">
              <label class="w-full grid grid-cols-[5%,95%] gap-xs py-sm px-sm bg-neutral-200 has-[:checked]:bg-neutral-300 has-[:checked]:text-primary-400 has-[:checked]:ring-indigo-200">
                <div class="pt-xxs sm:pt-none">
                  <input type="radio" id="radio" class="checked:border-indigo-500 px-sm col-start-1 w-4 h-4 toggle-radio" />
                </div>
                <div class="flex flex-col gap-xxxs w-full col-start-2">
                  <div>
                    <h3 class="text-h3-mobile">Levering</h3>
                    <div class="flex gap-xxxs items-center flex-wrap">
                      <p class="text-primary-500 opacity-60 font-semibold text-body-md">PostNord</p>
                      <div class="border-r-2 border-primary-500 border-opacity-60 h-xs"></div>
                      <p class="text-primary-500 opacity-60 font-semibold text-body-md">Pakkeshop</p>
                    </div>
                  </div>
                  <div class="flex gap-xxs w-full">
                    <h3 class="text-h3-mobile">62,50 DKK</h3>
                    <p class="text-primary-500 opacity-60 text-body-md font-semibold">Inkl. moms</p>
                  </div>
                </div>
              </label>
            </div>

            <div class="flex gap-xxxs items-center flex-col w-full pb-xs md:hidden">
              <label class="grid grid-cols-[10%,90%] w-full py-sm px-sm bg-neutral-200 has-[:checked]:bg-neutral-300 has-[:checked]:text-primary-400 has-[:checked]:ring-indigo-200">
                <div class="pt-xxs sm:pt-none">
                  <input type="radio" id="radio" class="checked:border-indigo-500 px-sm col-start-1 w-4 h-4 toggle-radio" />
                </div>
                <div class="flex flex-col gap-xxs w-full col-start-2">
                  <div>
                    <h3 class="text-h3-mobile">Levering</h3>
                    <div class="flex gap-xxxs items-center flex-wrap">
                      <p class="text-primary-500 opacity-60 font-semibold text-body-md">PostNord</p>
                      <div class="border-r-2 border-primary-500 border-opacity-60 h-xs"></div>
                      <p class="text-primary-500 opacity-60 font-semibold text-body-md">Levering til døren</p>
                    </div>
                  </div>
                  <div class="flex gap-xxs w-full">
                    <h3 class="text-h3-mobile">62,50 DKK</h3>
                    <p class="text-primary-500 opacity-60 text-body-md font-semibold">Inkl. moms</p>
                  </div>
                </div>
              </label>
            </div>

            <div class="flex gap-xxxs items-center flex-col w-full pb-xs md:hidden">
              <label class="w-full grid grid-cols-[5%,95%] gap-xxs py-xs px-sm bg-neutral-200 has-[:checked]:bg-neutral-300 has-[:checked]:text-primary-400 has-[:checked]:ring-indigo-200 items-start">
                <div class="pt-xxs sm:pt-none">
                  <input type="radio" id="radio" class="w-4 h-4 col-start-1 checked:border-indigo-500 toggle-radio" />
                </div>
                <div class="flex flex-col gap-xxs w-full col-start-2 px-xxxs">
                  <h3 class="text-h3-mobile">Afhentning på lager. 2981 Almind</h3>
                  <p class="text-primary-500 opacity-60 font-semibold text-body-md">Du vil blive kontaktet når din ordre er klar</p>
                  <h3 class="text-h3-mobile">0,00 DKK</h3>
                </div>
              </label>
            </div>
          </article>

          <!-- 4. step-- -->
          <article class="step pt-sm">
            <h1 class="text-h1-mobile pb-sm lg:text-h4-desktop text-primary-400">Betaling</h1>

            <div class="flex flex-col">
              <div>
                <label for="kortnummer" class="pb-xxs text-primary-400"><h5 class="md:text-h5-mobile">Kortnummer <span class="text-accent-800">*</span></h5></label>
                <div class="pt-xxs">
                  <input type="text" id="kortnummer" name="kortnummer" placeholder=" 1234 5678 0987 6543" class="w-full px-xs py-xxs border-[0px] text-primary-500 bg-neutral-200" />
                </div>
              </div>
              <div class="flex flex-col md:grid md:grid-cols-2 md:gap-md">
                <div class="py-xxs">
                  <label for="Uløbsdato" class="pb-xxs text-primary-400"><h5 class="md:text-h5-mobile">Uløbsdato (MM / ÅÅ) <span class="text-accent-800">*</span></h5></label>
                  <div class="pt-xxs">
                    <input type="text" id="Uløbsdato" name="Uløbsdato" placeholder=" 12/24" class="w-full px-xs py-xxs border-[0px] text-primary-500 bg-neutral-200" />
                  </div>
                </div>
                <div class="md:py-xxs">
                  <label for="Sikkerhedskode" class="text-primary-400"><h5 class="md:text-h5-mobile">Sikkerhedskode (CVV)<span class="text-accent-800">*</span></h5></label>
                  <div class="pt-xxs">
                    <input type="text" id="Sikkerhedskode" name="Sikkerhedskode" placeholder="123" class="w-full px-xs py-xxs border-[0px] text-primary-500 bg-neutral-200" />
                  </div>
                </div>
              </div>
              <div class="py-xxs md:py-none">
                <label for="kortnavn" class="pb-xxs text-primary-400"><h5 class="md:text-h5-mobile">Navn på kort<span class="text-accent-800">*</span></h5></label>
                <div class="pt-xxs">
                  <input type="text" id="kortnavn" name="kortnavn" placeholder="Lars Jensen" class="w-full px-xs py-xxs border-[0px] text-primary-500 bg-neutral-200" />
                </div>
              </div>
              <div class="flex items-baseline gap-xxs pt-xs">
                <input type="checkbox" id="checkbox" name="checkbox" value="checkbox" class="bg-neutral-200 border-0 rounded-[2px]" />
                <label for="checkbox" class="text-primary-400"> Brug leveringsadresse som faktureringsadresse</label>
              </div>
            </div>
          </article>
        </form>
        <!-- Buttons -->
        <div class="flex justify-center gap-ml py-md">
          <button class="btn bg-primary-400 px-s py-xxs rounded-sm hover:bg-primary-300 text-neutral-100 disabled:bg-gray-300 disabled:cursor-not-allowed" id="prev" disabled>Prev</button>
          <button class="btn bg-primary-400 px-s py-xxs rounded-sm hover:bg-primary-300 text-neutral-100 disabled:bg-gray-300 disabled:cursor-not-allowed" id="next">Next</button>
        </div>
      </section>
    </section>
  </section>
  <!-- 5. step---->
  <article class="step flex flex-col items-center mx-auto justify-center md:max-w-7xl -mt-[5.5rem]">
    <div class="flex-col flex md:flex-row items-center justify-center gap-sm">
      <h3 class="flex text-h1-mobile lg:text-h4-desktop text-primary-500">Betaling gennemført!</h3>
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-ml text-primary-400">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd"></path>
        </svg>
      </div>
    </div>
    <div class="mx-auto flex justify-center py-ml">
      <img src="/beer_ikon_progressbar_5.svg" alt="gennemført formular" class="w-[200px]" />
    </div>
    <p class="md:text-body-lg">Vi har hermed modtaget din ordre, og vil behandle din pakke hurtigst muligt.</p>
    <div class="py-ml">
      <Secondarybutton variant="primary" size="medium" width="medium" link="/" className="sm:size-small md:size-medium lg:size-large">Gå til forsiden</Secondarybutton>
    </div>
  </article>
</section>

<script>
  //Step 3. selected//
  document.querySelectorAll(".toggle-radio").forEach((radio) => {
    radio.addEventListener("click", function () {
      // Sporer den tidligere tilstand
      if (this.checked) {
        this.wasChecked = this.wasChecked ? false : true;
        this.checked = this.wasChecked;
      }
    });
  });

  //odreoversigt til betalingsmuligheder hændelse//
  let currentSection = 0; // start første section

  const sections = [document.getElementById("odreoversigt"), document.getElementById("betalingmuligheder"), document.getElementById("formular")];

  // vis første section
  sections[currentSection].classList.remove("hidden");

  // button klik hændelse (den første section)//
  document.getElementById("btn-bekraeft").addEventListener("click", function () {
    sections[currentSection].classList.add("hidden");
    currentSection = 1;
    sections[currentSection].classList.remove("hidden");
  });

  // betalingmuligheders card ikons klik hændelse//
  const cardIcons = document.querySelectorAll(".card-icon");
  cardIcons.forEach((icon) => {
    icon.addEventListener("click", function () {
      sections[currentSection].classList.add("hidden");
      currentSection = 2;
      sections[currentSection].classList.remove("hidden");
    });
  });
  //progressbar med formular//
  const nextButton = document.getElementById("next") as HTMLButtonElement;
  const prevButton = document.getElementById("prev") as HTMLButtonElement;
  const steps = document.querySelectorAll(".step");
  const progressBar = document.getElementById("progress") as HTMLElement;
  const stepImgs = document.querySelectorAll(".circle"); //progressbar ikons
  const bar = document.querySelector(".bar") as HTMLElement;

  let currentStep = 0; //

  // Initialiseringsfunktion
  function updateStep() {
    // Skjul alle trin og vis kun det nuværende trin
    steps.forEach((step, index) => {
      if (index === currentStep) {
        step.classList.remove("hidden");
      } else {
        step.classList.add("hidden");
      }
    });

    // Update progress bar
    const progress = (currentStep / (steps.length - 1)) * 100;
    progressBar.style.width = `${progress}%`;

    // Aktivér billeder for hvert trin
    stepImgs.forEach((circle, idx) => {
      const images = circle.querySelectorAll("img");

      if (idx < currentStep) {
        images[0].classList.add("hidden");
        images[1].classList.remove("hidden");
      } else {
        images[0].classList.remove("hidden");
        images[1].classList.add("hidden");
      }
    });

    // Aktiver/deaktiver knapper
    prevButton.disabled = currentStep === 0;
    nextButton.disabled = currentStep === steps.length - 1;

    // Den sidste step - skjul progressbar og knapper
    if (currentStep === steps.length - 1) {
      progressBar.classList.add("hidden");
      nextButton.classList.add("hidden");
      prevButton.classList.add("hidden");
      bar.classList.add("hidden");
      stepImgs.forEach((icon) => {
        icon.classList.add("hidden");
      });
    } else {
      progressBar.classList.remove("hidden");
      nextButton.classList.remove("hidden");
      prevButton.classList.remove("hidden");
      bar.classList.remove("hidden");
      stepImgs.forEach((icon) => {
        icon.classList.remove("hidden");
      });
    }
  }

  // "Next" button click event
  nextButton.addEventListener("click", () => {
    if (currentStep < steps.length - 1) {
      currentStep++;
      updateStep(); // status update
    }
  });

  // "Prev" button click event
  prevButton.addEventListener("click", () => {
    if (currentStep > 0) {
      currentStep--;
      updateStep(); // status update
    }
  });

  // Opdater den indledende tilstand
  updateStep();
</script>
