---
const { img, month} = Astro.props
---
<div class="-z-20">
  <div class="bg-accent-500 pb-10">
    <div class="flex flex-col items-center max-w-[284px] lg:max-w-[370px] mx-auto lg:p-xs lg:pb-xs lg:h-[230px] relative">
      <!-- IMG centered -->
      <img src={img} alt="Ølentusiast" class="sm:p-sm h-52 w-52 md:h-48 md:w-48 mx-auto">
      
      <!-- H5 centered -->
      <h5 class="pt-2 text-primary-500">{month}</h5p>
    </div>
  </div>
</div>

