---
const { img, month} = Astro.props
---
<div class="-z-20">
  <div class="bg-accent-500">
    <div class="flex flex-col items-center max-w-[284px] lg:max-w-[370px] mx-auto p-xs sm:p-xs md:p-xs lg:p-xs xl:pxs lg:h-[230px] relative">
      <!-- IMG centered -->
      <img src={img} alt="Billeder af forskellige ølpakker" class="h-48 w-48 xl:p-xxxs mx-auto">
      
      <!-- H5 centered -->
      <h5 class="pt-2 text-primary-500">{month}</h5p>
    </div>
  </div>
</div>

