---
import ImgTextcard from "../components/ImgTextcard.astro";
---
<div id="sektion2" class="flex">
    <ImgTextcard
      imgimage="img/oltonder.webp" 
      class="hidden md:block absolute md:w-full md:h-full md:-ml-[5.5rem]" 
      alt="Billede, der viser øltønder liggende tilfældigt sammen"
      title="Oplev øl med kvalitet og historie"
      text="Hos MaltClub ønsker vi at dele vores passion for øl med dig. Hver måned sammensætter vi en kasse med nøje udvalgte øl fra bryghuse, der har noget særligt at byde på. Vi tror på, at øl med en god historie smager bedre, og vi glæder os til at bringe nye smagsoplevelser direkte til din dør.">
    </div>
