---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
import AgeVerification from "../components/AgeVerification.astro";
import 'animate.css';

const { title } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body>
	
		<AgeVerification />


		<header >
			<Header></Header>
		</header>
		
		<main>
			
			
			<slot></slot>
		</main>

		<footer>
			<Footer></Footer>
		</footer>

	</body>
</html>

<script>  

	import { animate, inView } from "motion";
   
   inView(".content", () => {
	 animate(".content", { opacity: [0, 1] }, { duration: 2 });
   });

    // Animate the circle radius using Motion One
	window.addEventListener('load', () => {
        const circleMask = document.querySelector('.circle-mask');  // Target by class instead of ID

        // Animate the circle radius using Motion One
        animate(circleMask, 
            { r: ['0', '150%'] },  // Animate the radius from 0 to 150%
            { duration: 2.8 }       // Set the animation duration
        );
    });

	document.addEventListener('DOMContentLoaded', () => {
				  const mainContents = document.querySelectorAll('.main-content');
			  
				  mainContents.forEach((mainContent) => {
					const children = Array.from(mainContent.children);
			  
					children.forEach((child) => {
					  // Use inView to detect when the element enters the viewport
					  inView(child, ({ target }) => {
						animate(target, 
						  { 
							opacity: [0, 1], // Fade in
							transform: ['translateY(50px) scale(0.8)', 'translateY(0px) scale(1.0)'] // Move up and scale
						  },
						  {
							duration: 0.8, // Duration of the animation
							easing: 'ease-out'
						  }
						);
					  });
					});
				  });
				});
</script>