---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AgeVerification from "../components/AgeVerification.astro";
import '../styles/tailwind.css';
import 'animate.css';
import Cursor from "../components/Cursor.astro";
const { title } = Astro.props;

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body>
	
		<AgeVerification />
		<div class="relative w-full overflow-hidden bg-neutral-500">
			<svg id="svg-mask" class="absolute top-0 left-0 w-full h-full">
				<defs>
					<clipPath id="clip">
						<circle cx="20%" cy="20%" r="0" id="circle-mask" />
					</clipPath>
				</defs>
			</svg>
			<div class="relative top-0 left-0 bg-gradient-to-r from-[#16312B] to-[#0C1C19] transition-all duration-300 ease-out " style="clip-path: url(#clip)">

		<header >
			<Header></Header>
		</header>
		
		<main>
			<Cursor />	
			
			<slot></slot>
		</main>

		<footer>
			<Footer></Footer>
		</footer>
	</div>
</div>

	</body>
</html>

<script>
	 import { animate, inView } from "motion";
    
    inView(".content", () => {
      animate(".content", { opacity: [0, 1] }, { duration: 2 });
    });

	window.addEventListener('load', () => {
    const circleMask = document.getElementById('circle-mask');

    // Animate the circle radius using Motion One
    animate(circleMask, 
        { r: ['0', '150%'] },  // Start with radius 0 and animate to 150%
        {
            duration: 2.8,      // Animation duration of 2.8 seconds
            ease: 'ease-out',   // Easing function
            fill: 'forwards'    // Keep the final state after animation
        }
    );
});
</script>

