---
import ImgTextcard2 from "../components/ImgTextcard2.astro";
---

<div class="flex">
    <ImgTextcard2
      imgimage="img/ol_rabat.webp" 
      class="hidden md:block absolute md:w-full md:h-full md:-ml-[5.5rem]" 
      alt="Billede, der viser øltønder liggende tilfældigt sammen"
      subtitle="Spar 20% på første måned"
      title="Tilmeld dig vores nyhedsbrev"
      text="Modtag nyheder, tilbud og information om events direkte i din indbakke. Ingen spam - det lover vi! Efter du har tilmeldt dig vores nyhedsbrev modtager du en rabatkode på mail."
      email=""
      mailtext="maltclub.com">
    </div>
