---
import Olgave from "../components/Olgave.astro";
import Secondarybutton from "../components/Secondarybutton.astro";
---
<section class="bg-[url('../img/ol_gave.webp')] bg-cover bg-center bg-no-repeat flex flex-col items-center p-md relative z-20 -mt-[160%] sm:-mt-[70%] md:-mt-[48%] lg:-mt-[33%] xl:-mt-[24%]">
  <div class="grid grid-cols-1 gap-6 w-full md:max-w-2xl md:ml-auto">
    <h2 class="text-accent-500 text-center md:text-left pb-4 md:pb-0 px-4 md:px-8">
      <span class="text-h2-mobile md:text-h2-tablet lg:text-h3-desktop">
        Sådan virker dit Maltclub abonnement
      </span>
    </h2>
    <p class="text-accent-500 text-left px-4 md:pl-8 md:pr-12">
      Giv en skummende gave med MaltClub! Overrask en ølentusiast med en gave, der virkelig smager af noget! 
      Med vores MaltClub gaveabonnement kan du dele glæden ved kvalitetsøl, håndplukket og leveret direkte til døren.
    </p>
    <div class="flex flex-col gap-6 px-4 md:px-8 py-6 md:py-12 w-full">
      <Olgave
        icon="./svg/line-md_calendar.png"
        title="Vælg varighed"
        text="Du bestemmer, om gaven skal vare en måned, to, eller mere – helt uden binding."
        class="bg-cover bg-center bg-no-repeat py-8"
        alt="Billede af en ølgavekasse liggende på hø"></Olgave>

      <Olgave
        icon="./svg/akar-icons_stop.png"
        title="Problemfrit"
        text="Abonnementet stopper automatisk, så du skal ikke tænke på noget bagefter."></Olgave>

      <Olgave
        icon="./svg/Group 140.png"
        title="Unikke oplevelser"
        text="Fra spændende mikrobryg til ikoniske klassikere – hver levering er en oplevelse"></Olgave>

      <Olgave
        icon="./svg/mdi_gift-outline.png"
        text="Giv en gave, der gør indtryk – og som kan nydes i godt selskab!"></Olgave>
    </div>
    <div class="flex flex-col md:flex-row justify-left items-left gap-4 w-full px-4 md:px-8 py-6">
      <Secondarybutton 
        variant="primary" 
        size="medium" 
        width="large" 
        className="sm:w-full md:w-auto">
        Bestil gave idag!
      </Secondarybutton>
    </div>
  </div>
</section>
